@font-face {
	font-family: 'NexaLight';
	src: url('fonts/NexaLight.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NexaBold';
	src: url('fonts/NexaBold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MarketingScript';
	src: url('fonts/MarketingScript.ttf');
	font-weight: normal;
	font-style: normal;
}